body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

.form input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
}
